/* CENTER RIGHT PANEL */
.dice-wrapper{
    width:100%;
    height:700px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .dice-container{
    display:flex;
    gap:180px;
    perspective:1200px;
  }
  
  /* BIGGER DICE */
  .dice{
    width:180px;
    height:180px;
    position:relative;
    transform-style:preserve-3d;
    transition: transform cubic-bezier(.17,.67,.83,.67);
  }
  
  /* SAME animation style, different time */
  #dice1{ transition-duration: 1.1s; }
  #dice2{ transition-duration: 1.6s; }
  
  /* FACES */
  .face{
    position:absolute;
    width:180px;
    height:180px;
    background:white;
    border-radius:18px;
    border:2px solid #ddd;
  }
  
  /* POSITION FACES */
  .face-1{ transform:translateZ(90px); }
  .face-2{ transform:rotateY(180deg) translateZ(90px); }
  .face-3{ transform:rotateY(90deg) translateZ(90px); }
  .face-4{ transform:rotateY(-90deg) translateZ(90px); }
  .face-5{ transform:rotateX(90deg) translateZ(90px); }
  .face-6{ transform:rotateX(-90deg) translateZ(90px); }
  
  /* PIPS */
  .pip{
    width:22px;
    height:22px;
    background:red;
    border-radius:50%;
    position:absolute;
  }
  
  /* Pip positions */
  .pip-1-0{top:50%;left:50%;transform:translate(-50%,-50%);}
  
  .pip-2-0{top:20%;left:20%;}
  .pip-2-1{bottom:20%;right:20%;}
  
  .pip-3-0{top:20%;left:20%;}
  .pip-3-1{top:50%;left:50%;transform:translate(-50%,-50%);}
  .pip-3-2{bottom:20%;right:20%;}
  
  .pip-4-0{top:20%;left:20%;}
  .pip-4-1{top:20%;right:20%;}
  .pip-4-2{bottom:20%;left:20%;}
  .pip-4-3{bottom:20%;right:20%;}
  
  .pip-5-0{top:20%;left:20%;}
  .pip-5-1{top:20%;right:20%;}
  .pip-5-2{top:50%;left:50%;transform:translate(-50%,-50%);}
  .pip-5-3{bottom:20%;left:20%;}
  .pip-5-4{bottom:20%;right:20%;}
  
  .pip-6-0{top:20%;left:20%;}
  .pip-6-1{top:20%;right:20%;}
  .pip-6-2{top:50%;left:20%;}
  .pip-6-3{top:50%;right:20%;}
  .pip-6-4{bottom:20%;left:20%;}
  .pip-6-5{bottom:20%;right:20%;}
  
  /* ROLL ANIMATION */
  .show-1{ transform:rotateX(0deg) rotateY(0deg); }
  .show-2{ transform:rotateY(180deg); }
  .show-3{ transform:rotateY(-90deg); }
  .show-4{ transform:rotateY(90deg); }
  .show-5{ transform:rotateX(-90deg); }
  .show-6{ transform:rotateX(90deg); }
  